@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro&display=swap');

:root {
  --c-primary: hsl(136, 53%, 59%);
  --c-primary-background: hsl(136, 53%, 59%);
  --c-primary-disabled: hsl(137, 22%, 75%);
  --c-primary-hover: hsl(136, 48%, 46%);
  --c-text: hsl(216, 8%, 12%);
  --c-bg-dark: hsl(216, 8%, 12%);
  --c-text-light: white;
  --c-bg-light: white;
  --c-bg-light-hover: hsl(0, 0%, 85%);
  --c-error: hsl(0, 57%, 55%);

  --padding-block-start: 8em;
}

html {
  font-family: 'Raleway', sans-serif;
  color: var(--c-text);
}

li {
  margin-left: 1rem;
}

.overflow-hidden {
  overflow-y: hidden;
  // prevent horizontal reflow when scrollbar is hidden
  padding-inline-end: 15px;
}
